@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14pt;
  background-color: #001428;
  color: white;
  margin: 1;
}

h1 {
  display: flex;
  justify-content: center;
}

a {
    text-decoration: none;
    animation: colorRotate 2s linear 0s infinite;
}
  
@keyframes colorRotate {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
}